@import '~material-components-web/dist/material-components-web.min.css';
@import '~@rmwc/data-table/data-table.css';
@import '~@material/menu/dist/mdc.menu.css';
@import '~@material/menu-surface/dist/mdc.menu-surface.css';
@import '~@material/list/dist/mdc.list.css';

.raid-stage {
    border-radius: 25px;
    border: 1px solid black;
    padding: 10px;
    min-height: 320px;
}

.react-datepicker-wrapper {
  width: 300px;
  .react-datepicker__input-container {
    input {
      width: 100%;
      font-size: medium;
    }
  }
}

.raid-roster-slot {
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 5px;
}

.player-drop-target-hover {
  background-color: lightgray;
}

.draggable-player {
  &:hover {
    cursor: pointer;
  }
}

.menu-bar-user {
  &:hover {
    cursor: pointer;
  }
}

.clear-button {
  border: 1px solid #b00020;
  color: #b00020;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
  height: 24px;
}

.member-card {
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 25px;
  padding: 5px;
  min-height: 350px;

  .member-detail {
    padding: 5px;
  }
}
// .player-drop-target-unassigned {
//   background-color: lightgray;
// }

// .player-drop-target-assigned {
//   background-color: lightgreen;
// }

  